<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="Suite" parallel="classes">
  <test thread-count="3" name="Test" parallel="classes">
  <parameter name="browser" value="GC"/>
    <classes>
      <class name="script.ValidLogin"/>
      <class name="script.InvalidLogin"/>
      <class name="script.VerifyBuildNumber"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
